# Virtual Environment
venv/
.venv/
env/
 
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
 
# Environment variables
.env
 
# VS Code
.vscode/
 
# Streamlit
.streamlit/
 
# Reports
reports/
 
# OS files
.DS_Store
Thumbs.db